body {
  font-family: ;
  font-size: 14px;
  color: #000;
  font-weight: 400;
}

img {
  max-width: 100%;
}

h1 {
  color: #000;
  font-size: 30px;
  font-weight: 700;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 100px;
  display: none;
}